@font-face{
	font-family: GentiumBookBasic;
	src: url(/assets/fonts/GentiumBookBasic-Bold.ttf);
}

@font-face{
	font-family: Yeseva One;
	src: url(/assets/fonts/YesevaOne-Regular.ttf);
}

@font-face{
	font-family: Lato;
	src: url(/assets/fonts/Lato-Regular.ttf);
}

@font-face{
	font-family: Open Sans;
	src: url(/assets/fonts/OpenSans-Bold.ttf)
}

@font-face{
	font-family: Open Sans;
	src: url(/assets/fonts/OpenSans-Regular.ttf);
}